/* MAIN SECTION */
.contact-map-section {
  width: 100%;
  padding: 6vw 6vw;
  background: #ffffff;
  font-family: Inter, sans-serif;
}

/* CONTAINER */
.map-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* MAP BOX */
.map-box {
  width: 100%;
  aspect-ratio: 16 / 7; /* keeps same map shape */
}

/* MAP */
.map-box iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1.2vw;
}

/* FLOATING CARD */
.contact-card {
  position: absolute;
  top: 50%;
  left: -3vw;
  transform: translateY(-50%);

  background: #000;
  color: white;
  padding: 2vw;
  border-radius: 1vw;
  width: 22vw;

  box-shadow: 0 1vw 3vw rgba(0,0,0,0.2);
}

/* TITLE */
.contact-card h2 {
  margin-bottom: 1.5vw;
  font-family: 'Boowie';
  font-size: 1.8vw;
}

/* ITEMS */
.contact-item {
  display: flex;
  gap: 1vw;
  margin-bottom: 1.5vw;
}

/* ICON */
.contact-item span {
  font-size: 1.4vw;
}

/* LABEL */
.contact-item .label {
  font-size: 1vw;
  color: #aaa;
}

/* TEXT */
.contact-item p {
  margin: 0.2vw 0;
  font-size: 1.1vw;
  font-family: "Montserrat_Italic";
  line-height: 1.4;
}